.form-item-wall-clock-settings {
  float: left;
}
.form-item-wall-clock-settings .description {
  float: none;
  clear: both;
}
.form-item-wall-clock-settings input[type=radio] {
  margin-bottom: 60px;
  margin-left: 30px;
}
#clockId {
  border: double black 7px;
  background-color: #f5f5f5;
}
